*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
scroll-behavior: smooth;
}
section{
    height: 100vh;
    overflow: hidden;
}
.homes{

}
.jh p:hover{
  cursor: pointer;
  color: aqua;
}
.back-video{
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.logo{
  position: relative;
    color: white;
    font-size: 35px;
    padding: 0 100px;
    font-weight: bold;
    transform: rotate(-10deg);
    top: -75px;
  
}
.logo a{
    text-decoration: none;
   list-style: none;
   color: white;
}
.logo a{
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color:aqua;
}
ul{
    float: right;
    margin-right: 20px;
    display: flex;
   justify-content: space-between;
   text-decoration: none;
   list-style: none;
   color: dark;
   
  }
  ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
    list-style: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
  
  }
  a.active,a:hover{
    background:aqua;
    transition: .5s;
    box-shadow: 0 4px 8px 0 rgba(7, 201, 235), 0 6px 20px 0 rgb(7, 201, 235);

  }
  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }


  @media (max-width: 858px){
    .checkbtn{
      display: block;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #2c3e50;
      top: 80px;
      left: -200%;
      text-align: center;
      transition: all .5s;
    }
  ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
 ul li a{
      font-size: 20px;
    }
    a:hover,a.active{
      background: none;
      color: white;
    }
    #check:checked ~ ul{
      left: 0;
    }
  }

  .ml6 {
    position: relative;
    font-weight: 900;
    font-size: 3.3em;
  }
  
  .ml6 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
    top: 300px;
    left: 80px;
  }
  
  .ml6 .letter {
    position: relative;
    display: inline-block;
    line-height: 1em;
    color: white;
  }
  
  .ml4 {
    position: relative;
    font-weight: 900;
    font-size: 4.3em;
  }
  
  .ml4 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
    top: 300px;
    left: 80px;
  }
  
  .ml4 .letterss {
    position: relative;
    display: inline-block;
    line-height: 1em;
    color: rgb(32, 245, 245);
  }
.hj p{
    position: relative;
    font-size: 1.3em;
    color: white;
    top: 310px;
    left: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow: hidden;
   text-overflow: ellipsis;
   height: 20%;
   width: 30%;
}
.box11{
  position: relative;
    background-color: aliceblue;
    height: 500px;
    width: 500px;
    border-radius: 20px;
    box-shadow: 10px 10px 40px white;
    left: 900px;
    top: 100px;
    animation: ns 5s linear infinite;
}
.box11 h1{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 900;
  position: relative;
  top: 60px;
  font-size: 1.4em; 
  left: 20px;
}
@keyframes ns{
  0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(40px);
    }
    100% {
        transform: translatey(0px);
    }
}
.box22{
  position: relative;
  background-color: aliceblue;
  height: 200px;
  width: 300px;
  border-radius: 20px;
  box-shadow: 10px 10px 40px white;
   left: 20px;
   top: -400px;
  animation: ns 5s linear infinite;
}
.ho{
  position: relative;
  height: 150px;
  left: 35px;
  top: 25px;
}
.box33{
  position: relative;
  background-color: aliceblue;
  height: 200px;
  width: 300px;
  border-radius: 20px;
  box-shadow: 10px 10px 40px white;
  left: 1500px;
  top: -500px;
  animation: ns 5s linear infinite;
}
.hf{
  position: relative;
  height: 150px;
  width: 250px;
  left: 30px;
  top: 25px;
}

.box44{
  position: relative;
  background-color: aliceblue;
  height: 200px;
  width: 300px;
  border-radius: 20px;
  box-shadow: 10px 10px 40px white;
  left: 500px;
  top: -400px;
  animation: ns 5s linear infinite;
}
.circle1{
  position: relative;
  font-size: 200px;
  bottom: 10px;
  white-space: nowrap;
  color: black;
  opacity: 0.2;
  top: -200px;

}
.hq{
  position: relative;
  height: 120px;
  width: 250px;
  left: 24px;
  top: 35px;
}

.box-1{ 
  position: relative;
  left: 900px;
  top: -300px;
  animation: ns 5s linear infinite;
}
.content h1{
 font-size: 10px;
}
#ggf{
  background: transparent;
  border: none;
}
.btn {
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 250px;
  cursor: pointer;
}

.btn-one {
  color: #FFF;
  transition: all 0.3s;
  position: relative;
}
.btn-one span {
  transition: all 0.3s;
}
.btn-one::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgb(255, 255, 255);
  border-bottom-color: rgb(255, 255, 255);
  transform: scale(0.1, 1);
}
.btn-one:hover span {
  letter-spacing: 2px;
}
.btn-one:hover::before {
  opacity: 1; 
  transform: scale(1, 1); 
}
.btn-one::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgb(255, 255, 255);
  box-shadow: 10px 10px 20px white;
  border-radius: 10px;
}
.btn-one:hover::after {
  opacity: 0; 
  transform: scale(0.1, 1);
}
.homef{
  background-color: #090947;
  height: 100vh;
  overflow: hidden;
}
.box1{
  position: relative;
  background-color: white;
  height: 400px;
  width: 300px;
  left: 1350px;
  object-fit: contain;
  box-shadow: 0 4px 8px 0 rgba(7, 201, 235), 0 6px 20px 0 rgb(7, 201, 235);
  border-radius: 20px;
  z-index: 2;
  animation: textcontainds 10s linear infinite;
}
.img1{
 height: 100%;
 width: 100%;
  object-fit: cover;
  border-radius: 20px;
  animation: textcontaind 0.4s linear infinite;

}


.circle{
  position: relative;
  font-size: 200px;
  bottom: 10px;
  white-space: nowrap;
  color: white;
  opacity: 0.2;
  animation: textcontain-move 20s linear infinite;
}


@keyframes textcontainds{
  0% {
    box-shadow: 0 4px 8px 0 rgba(7, 201, 235), 0 6px 20px 0 rgb(7, 201, 235);
		transform: translatey(0px);
	}
	50% {
    box-shadow: 0 4px 8px 0 rgb(36, 104, 230), 0 6px 20px 0 rgb(36, 104, 230);
		transform: translatey(-40px);
	}
	100% {
    box-shadow: 0 4px 8px 0 rgb(73, 228, 155), 0 6px 20px 0 rgb(73, 228, 155);
		transform: translatey(0px);
	}
}














.page1s{
  background-color: black;
  overflow: hidden;
}
.page1 h1{
  position: relative;
  color: aliceblue;
  font-size: 21.1em;
  padding: 20px;
  top: 60px;
  animation: flts  5s linear infinite;
}
.page1 h1 span{
  font-size: 30px;
}
.jh p{
  position: relative;
  color: white;
  margin: 20px;
  font-size: 2.1em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  top: -200px;
  text-align: center;
  margin: 20px;
  padding: 20px;
  justify-content: space-between;
}
.en h1{
  position: relative;
  color: aliceblue;
  font-size: 21.1em;
  padding: 20px;
  left: 1600px;
  bottom: 360px;
  animation: flt  5s linear infinite;
}
@keyframes flt{
  0%{
    transform: translatey(0px);
  }
  50%{
    transform: translatey(-20px);
    color: greenyellow;
  }
  60%{
    transform: translatey(0px);
  }
}
@keyframes flts{
  0%{
    transform: translatey(0px);
  }
  50%{
    transform: translatey(20px);
    color: greenyellow;
  }
  60%{
    transform: translatey(0px);
  }
}
.sd h1{
  color: white;
  text-align: center;
  font-size: 3.1em;
  font-family: Arial, Helvetica, sans-serif;
  animation: sds 10s linear infinite;
}
@keyframes sds{
  0%{
    color:aqua;
  }
  50%{
    color: blue;

  }
  100%{
    color: antiquewhite;
  }
}
.kl h1{
  position: relative;
  font-size: 4.1em;
  top: 350px;
  left: 50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 900;
}
.kl p{
  position: relative;
  font-size: 1.5em;
  text-align: left;
  top: 380px;
  left: 50px;
  color: white;
  width: 50%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.page2s{
  background-color: rgba(5, 11, 26, 0.534);
}
.img3{
  position: relative;
  height: 20%;
  width: 50%;
  left: 950px;
  padding: 90px;
  top: 80px;
  border-radius: 10%;
  filter: drop-shadow(30px 20px 8px #4444dd);
}













.content h1 {
  position: relative;
  font-size: 60px;
  white-space: nowrap;
  color: black;
  opacity: 0.2;
  left: -10px;
}

p {
	font-size: 24px;
	font-weight: light;
	color: #333333;
}

span a {
	font-size: 25px;
	color: #cccccc;
	text-decoration: none;
	margin: 0 10px;
	transition: all 0.4s ease-in-out;
	&:hover {
		color: #ffffff;
	}
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-30px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

.container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.avatar {
  position: relative;
	width: 150px;
	height: 150px;
	box-sizing: border-box;
	border: 5px white solid;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
 top: -20px;
	img { width: 100%; height: auto; };
  bottom: 20px;
}

.content {
	width: 100%;
	max-width: 600px;
	padding: 20px 40px;
	box-sizing: border-box;
	text-align: center;
}



.page4{
  height: 50vh;
}


@media screen and (max-width: 1720px){
  .ml4 .letterss {
    position: relative;
    display: inline-block;
    line-height: 1em;
    font-size: 53px;
    color: rgb(32, 53, 245);
  }
  .avatar{
    position: relative;
    color: black;
    background-color: black;
    height: 140px;
    width: 150px;
  }
  .ml4 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
    top: 110px;
    left: 80px;
  }
  .ml6 {
    position: relative;
    font-weight: 900;
    font-size: 2.8em;
  }
  
  .ml6 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
    top: 140px;
    left: 80px;
  }
  
  .hj p{
    position: relative;
    left: 200px;
    width: 50%;
  }
  .ml6 .letter {
    position: relative;
    display: inline-block;
    line-height: 1em;
    color: white;
  }
.hj p{
  position: relative;
   width: 10%;
}
.box11{
  position: relative;
  left: 500px;
  height: 400px;
  width: 400px;
}
.box11 h1{
  font-size: 1em;
}
.box22{
  height: 150px;
  width: 250px;
}
.ho{
  position: relative;
  height: 120px;
}
.box33{
  height: 150px;
  width: 250px;
  position: relative;
  left:160px;
  top: -200px;
}
.hf{
  position: relative;
  height: 120px;
  width: 200px;
}
.box44{
  position: relative;
  height: 150px;
  width: 250px;
  top: -600px;
  left: 1000px;
}
.hq{
  position: relative;
  height: 120px;
  width: 200px;
  top: 25px;
}

.circle{
  position: relative;
  font-size: 170px;
  bottom: 180px;
  white-space: nowrap;
  color: black;
  opacity: 0.2;
  animation: textcontain-move 10s linear infinite;
}
.box1{
  position: relative;
  background-color: white;
  height: 300px;
  width: 300px;
  left: 800px;
  bottom: 60px;
  object-fit: contain;
  box-shadow: 0 4px 8px 0 rgba(7, 201, 235), 0 6px 20px 0 rgb(7, 201, 235);
  border-radius: 20px;
  z-index: 2;
  animation: textcontainds 10s linear infinite;
}

.logo{
  position: relative;
    color: white;
    font-size: 35px;
    padding: 0 100px;
    font-weight: bold;
    transform: rotate(-10deg);
    top: -40px;
    left: -30px;
  
}
.jh p{
  position: relative;
  color: white;
  margin: 20px;
  font-size: 1.5em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  top: -200px;
  text-align: center;
  margin: 20px;
  padding: 20px;
  justify-content: space-between;
}
.en h1{
  position: relative;
  color: aliceblue;
  font-size: 21.1em;
  padding: 20px;
  left: 300px;
  bottom: 320px;
  animation: flt  5s linear infinite;
}
.kl h1{
  position: relative;
  font-size: 4.1em;
  top: 350px;
  left: 50px;
}
.kl p{
  position: relative;
  font-size: 1.3em;
  text-align: left;
  top: 380px;
  left: 50px;
  color: white;
  -webkit-line-clamp: 5;
  width: 90%;
}
.page2s{
  background-color: rgba(5, 11, 26, 0.534);
}
.img3{
  position: relative;
  height: 50%;
  width: 50%;
  left: 90px;
  padding: 20px;
  top: -10px;
  border-radius: 10%;
  filter: drop-shadow(30px 20px 8px #4444dd);
}
.hj p{
  top: 100px;
  left: 20px;
 -webkit-line-clamp: 5;
 width: 90%;

}
.kl p{
  position: relative;
  width: 60%;
}
.img3{
  position: relative;
  left: 800px;
  height: 40%;
  width: 30%;
}
.en h1{
  position: relative;
  color: aliceblue;
  font-size: 21.1em;
  padding: 10px;
  left: 1050px;
  bottom: 440px;
  animation: flt  5s linear infinite;
}
.page1 h1{
  position: relative;
  font-size: 21.1em;
  top: -30px;
}
.kl h1{
  position: relative;
  font-size: 4.1em;
  top: 350px;
  left: 50px;
}
.kl p{
  position: relative;
  font-size: 1.3em;
  text-align: left;
  top: 380px;
  left: 50px;
  color: white;
  -webkit-line-clamp: 5;
  width: 90%;
}
.jh p{
  position: relative;
  font-size: 1.6em;
  top: -300px;
}




.content {
	width: 100%;
	max-width: 600px;
	padding: 20px 40px;
	box-sizing: border-box;
	text-align: center;
}
.b p{
  position: relative;
  color: rgb(255, 255, 255);
  font-size: 1.3em;
  left: 80px;
  width: 40%;
}
}
@media (max-width: 640px){
  .ml4 .letterss {
    position: relative;
    display: inline-block;
    line-height: 1em;
    font-size: 40px;
    color: rgb(245, 83, 218);
  }
  .ml4 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
    top: 90px;
    left: 20px;
  }
  .back-video{
    height: 300%;
    position: absolute;
    bottom: -200px;
  }
  .ml6 {
    position: relative;
    font-weight: 900;
    font-size: 2.4em;
  }
  
  .ml6 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
    top: 110px;
    left: 20px;
  }
  
  .ml6 .letter {
    position: relative;
    display: inline-block;
    line-height: 1em;
    color: white;
  }
  .box11{
    position: relative;
    background-color: aliceblue;
    height: 350px;
    width: 350px;
    border-radius: 20px;
    box-shadow: 10px 10px 40px white;
    left: 40px;
    top: 200px;
    animation: ns 5s linear infinite;
  }
  .box11 h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
    position: relative;
    top: 60px;
    font-size: 1em; 
    left: 20px;
  }
  .circle1{
    position: relative;
    top: 200px;
  }
  .content h1{
    font-size: 10px;
  }
  @keyframes ns{
    0% {
          transform: translatey(0px);
      }
      50% {
          transform: translatey(40px);
      }
      100% {
          transform: translatey(0px);
      }
  }
  .box22{
    position: relative;
    background-color: aliceblue;
    height: 120px;
    width: 150px;
    border-radius: 20px;
    box-shadow: 10px 10px 40px white;
    left: 10px;
    top: -300px;
    animation: ns 5s linear infinite;
  }
  .ho{
   position: relative;
   height: 70px;
   left: 20px;
   top: 25px;
  }
  .box33{
    position: relative;
    background-color: aliceblue;
    height: 120px;
    width: 150px;
    border-radius: 20px;
    box-shadow: 10px 10px 40px white;
    left: 10px;
    top: 200px;
    animation: ns 5s linear infinite;
  }
  .hf{
    position: relative;
    height: 60px;
    width: 120px;
    left: 15px;
    top: 25px;
  }
  
  .box44{
    position: relative;
    background-color: aliceblue;
    height: 120px;
    width: 150px;
    border-radius: 20px;
    box-shadow: 10px 10px 40px white;
    left: 250px;
    top: 10px;
    animation: ns 5s linear infinite;
  }
  .circle1{
    position: relative;
    font-size: 100px;
    bottom: 10px;
    white-space: nowrap;
    color: black;
    opacity: 0.2;
    top: -100px;
  
  }
  .hq{
    position: relative;
    height: 60px;
    width: 120px;
    left: 17px;
    top: 30px;
  }
  
  .box-1 { 
    position: relative;
    top: 120px;
    left: 70px;
    animation: ns 5s linear infinite;
  }
  .content h1{
   font-size: 10px;
  }
  .circle1{
    position: relative;
    font-size: 100px;
  }
  #ggf{
    background: transparent;
    border: none;
  }
  .btn {
    line-height: 50px;
    height: 50px;
    text-align: center;
    width: 250px;
    cursor: pointer;
  }
  
  .btn-one {
    color: #FFF;
    transition: all 0.3s;
    position: relative;
  }
  .btn-one span {
    transition: all 0.3s;
  }
  .btn-one::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);
    transform: scale(0.1, 1);
  }
  .btn-one:hover span {
    letter-spacing: 2px;
  }
  .btn-one:hover::before {
    opacity: 1; 
    transform: scale(1, 1); 
  }
  .btn-one::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 10px 20px white;
    border-radius: 10px;
  }
  .btn-one:hover::after {
    opacity: 0; 
    transform: scale(0.1, 1);
  }
  .hj p{
    position: relative;
    font-size: 1.1em;
    color: rgb(243, 241, 241);
    top: 80px;
    left: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 80%;
}
.circle{
  position: relative;
  font-size: 170px;
  bottom: -50px;
  white-space: nowrap;
  color: white;
  opacity: 0.2;
  animation: textcontain-move 10s linear infinite;
}

@keyframes textcontain-move {
  0% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
  200% {
      left: -200%;
    }
}
.box1{
  position: relative;
  background-color: white;
  height: 300px;
  width: 300px;
  left: 20px;
  bottom: -130px;
  object-fit: contain;
  box-shadow: 0 4px 8px 0 rgba(7, 201, 235), 0 6px 20px 0 rgb(7, 201, 235);
  border-radius: 20px;
  z-index: 2;
  animation: textcontainds 10s linear infinite;
}

.logo{
  position: relative;
    color: white;
    font-size: 35px;
    padding: 0 100px;
    font-weight: bold;
    transform: rotate(-10deg);
    top: 30px;
    left: -80px;
  
}
.jh p{
  position: relative;
  color: white;
  margin: 20px;
  font-size: 1.5em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  top: -290px;
  text-align: center;
  margin: 20px;
  padding: 20px;
  justify-content: space-between;
}
.en h1{
  position: relative;
  color: aliceblue;
  font-size: 21.1em;
  padding: 20px;
  left: 300px;
  bottom: 400px;
  animation: flt  5s linear infinite;
}
.page1 h1{
    position: relative;
    font-size: 21.1em;
    top: -30px;
}
.kl h1{
  position: relative;
  font-size: 4.1em;
  top: 350px;
  left: 50px;
}
.kl p{
  position: relative;
  font-size: 1.3em;
  text-align: left;
  top: 380px;
  left: 50px;
  color: white;
  -webkit-line-clamp: 5;
  width: 90%;
}
.page2s{
  background-color: rgba(5, 11, 26, 0.534);
}
.img3{
  position: relative;
  height: 50%;
  width: 50%;
  left: 90px;
  padding: 20px;
  top: -10px;
  border-radius: 10%;
  filter: drop-shadow(30px 20px 8px #4444dd);
}
.avatar{
  position: relative;
height: 150px;
width: 150px;
}
.content h1{
  position: relative;
  font-size: 3em;
}
}
@media  (max-width: 410px){
  .ml4 .letterss {
    position: relative;
    display: inline-block;
    line-height: 1em;
    font-size: 35px;
    color: rgb(110, 245, 83);
  }
  .ml4 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
    top: 70px;
    left: 20px;
  }
  .ml6 {
    position: relative;
    font-weight: 900;
    font-size: 2.2em;
  }
  .ml6 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
    top: 90px;
    left: 20px;
  }
  .box1{
    position: relative;
    background-color: white;
    height: 230px;
    width: 250px;
    left: 20px;
    bottom: -100px;
    object-fit: contain;
    box-shadow: 0 4px 8px 0 rgba(7, 201, 235), 0 6px 20px 0 rgb(7, 201, 235);
    border-radius: 20px;
    z-index: 2;
    animation: textcontainds 10s linear infinite;
  }
.b p{
  position: relative;
  top: 60px;
}
.circle{
  position: relative;
  top: 80px;
  font-size: 9.3em;
}
.jh p{
  font-size: 1.2em;
}
.en h1{
  position: relative;
  padding: 10px;
  height: 20px;
}
.page1 h1{
  position: relative;
  top: -60px;
  left: -20px;
  font-size: 17em;
}
.en h1{
  position: relative;
  font-size: 17em;
  left: 265px;
}
.box-1{
  position: relative;
  top: -600px;
  left: 200px;
}
.btn{
  width: 170px;
}
}